extends ../layout/page

block title
    | Ecogrill landing page

block content
    include ../modules/top
    include ../modules/about
    include ../modules/trivia
    include ../modules/ways
    include ../modules/order-1
    include ../modules/advantages
    include ../modules/accessories
    include ../modules/details
    include ../modules/interiors
    include ../modules/order-2
    include ../modules/video
    include ../modules/info
    include ../modules/on-map