/*********************************************
*********** about
**********************************************/

.about {
  font-size: 15px;
  line-height: 1.5em;
  background: $color-light;

  @include more-768 {
    font-size: 17px;
  }

  @include more-992 {

    .about-column {
      float: left;
      width: 50%;
      margin: 20px 0 0 25px;
    }

  }

  @include more-1230 {
    background: $color-light url(../images/decor-about.png) no-repeat 75% -150px;

    .about-column {
      float: left;
      width: 45%;
      margin: 20px 0 0 40px;
    }

  }

  h2 {
    text-align: left;
    margin: 0 0 20px;
  }

  h3 {
    font-family: $font-medium;
    font-size: 18px;
    line-height: 1.25em;
    color: #4e5d60;
    margin: 0 0 10px;

    @include more-768 {
      font-size: 22px;
    }

  }

  p {
    margin: 10px 0;
  }

  strong {
    font-family: $font-medium;
  }

  &-content {
    padding: 20px 0 0;
    order: 1;

    @include more-992 {
      padding: 40px 0 0 40px;
      width: calc(100% - 350px);
      order: 2;
    }

  }

  &-magic {
    order: 2;
    padding: 20px;
    position: relative;

    @include more-992 {
      padding: 0 20px 40px;
      order: 1;
      width: 350px;
      background: #fff;
      overflow: hidden;
    }

    &-image {
      margin: 15px 0;

      img {
        margin: 0;
      }

      @include more-992 {
        margin: -40% 0 20px;

        img {
          margin: 0 auto;
        }

      }

    }

    &-list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0;

      @include more-992 {
        justify-content: center;
      }

    }

    &-item {
      margin: 0 10px;
    }

    &-icon {
      margin: 0 0 10px;

      img {
        margin: 0;
      }

    }

    &-text {
      font-family: $font-medium;
      font-size: 15px;
      line-height: 18px;
    }

  }

  &-image {
    margin: 20px 0;

    img {
      margin: 0;
    }

    @include more-992 {
      margin: 20px 0 0 -120px;
      float: left;
    }

    @include more-1230 {
      margin: 20px 0 0 -150gitpx;
    }

  }

}
