/*********************************************
*********** accessories
**********************************************/

.form-accessories {
  padding: 30px 0;
  background: url(../images/background-yellow.jpg) no-repeat center center;
  background-size: cover;

  h2 {
    margin: 0 0 30px;
  }

  @include more-768 {
    padding: 40px 0 60px;
  }

  &-image {
    display: block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    overflow: hidden!important;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
    border: 8px solid #fff;
    box-shadow: 0 0 0 14px rgba(255, 255, 255, .27);

    &:after {
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      border: 1px solid #b7bfc2;
      border-radius: 2px;
      background: #fff url(../images/icon-checkbox.png) no-repeat center center;
      transition: .3s;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }

    img {
      max-width: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &-title {
    display: block;
    font-family: $font-medium;
    font-size: 22px;
    line-height: 1;
    transition: .4s;
    margin: 0 0 5px;
  }

  &-text {
    display: block;
    font-size: 15px;
    line-height: 22px;
  }

  &-checkbox {
    display: none;

    & + label {
      min-height: 105px;
      padding: 0 0 0 115px;
      margin: 20px 0 0;
      position: relative;
      cursor: pointer;

      @include more-992 {
        margin: 0;
      }

      &:hover {

        .form-accessories-image {
          box-shadow: 0 0 0 14px rgba(255, 255, 255, .6);
        }

      }

    }

    &:checked + label {

      .form-accessories-image {
        box-shadow: 0 0 0 14px $color-red;

        &:after {
          opacity: 1;
        }

      }

      .form-accessories-title {
        color: $color-red;
      }

    }

  }

  .custom-label {
    width: 100%;
    margin: 20px 20px 0;
    flex-shrink: 0;

    @include more-768 {
      width: 240px;
    }

  }

  .button {
    margin: 20px 20px 0;
    flex-shrink: 0;
  }

}