/*********************************************
*********** advantages
**********************************************/

.advantages {
  padding: 30px 0;
  background: $color-light;
  position: relative;

  &:before{
    content: '';
    display: block;
    width: 450px;
    height: 146px;
    background: url(../images/decor-advantages.png) no-repeat 0 0;
    position: absolute;
    bottom: 105px;
    left: calc(50% + 480px);
  }

  h2 {
    margin: 0 0 10px;
  }

  @include more-992 {
    padding: 50px 0 65px;
  }

  @include more-1230 {

    h2 {
      margin: 0 0 35px;
    }

  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 450px;
      height: 146px;
      background: url(../images/decor-advantages.png) no-repeat 0 0;
      position: absolute;
      top: 40px;
      left: -330px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    @include more-1230 {
      display: block;

    }

  }

  &-item {
    width: 240px;
    height: 300px;
    margin: 25px 15px;
    transition: .3s;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: url(../images/icon-angle-down-red.png) no-repeat center center, url(../images/button-background-yellow.jpg) no-repeat center center;
      transition: .3s;
      position: absolute;
      left: 30px;
      top: 30px;
      z-index: 2;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent 50%);
      border-radius: $radius;
      position: absolute;
      left: 0;
      top: 0;
    }

    @include more-1230 {
      float: left;
      margin: 0 25px 0 0;

      &:nth-of-type(1) {
        width: calc(30% - 25px);
        height: 240px;
        margin: 0 25px 25px 0;
      }

      &:nth-of-type(2) {
        width: calc(54% - 25px);
        height: 240px;
        margin: 0 25px 25px 0;
      }

      &:nth-of-type(3) {
        width: 16%;
        height: 555px;
        margin: 0 0 25px 0;
        float: right;

        .advantages-subitem {
          left: auto;
          right: 0;
        }

      }

      &:nth-of-type(4) {
        width: calc(40% - 25px);
        height: 290px;
      }

      &:nth-of-type(5) {
        width: calc(22% - 25px);
        height: 290px;
      }

      &:nth-of-type(6) {
        width: calc(22% - 25px);
        height: 290px;
      }

    }

  }

  &-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $radius;
    transition: .3s;
    position: absolute;
    left: 0;
    top: 0;

    img {
      max-width: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &-title {
    font-family: $font-medium;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
  }

  &-subitem {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 30px;
    background: #000;
    border-radius: $radius;
    overflow: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: -1;
    opacity: 0;
    transform-origin: left top;
    transform: rotate(-90deg);

    @include more-1230 {
      min-width: 335px;
    }

  }

  &-item:hover {

    &:before {
      transform: scale(1.1);
    }

    &:after {
      background: linear-gradient(to top, rgba(0, 0, 0, .5), transparent 50%);
    }

    .advantages-image {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, .75);
    }

  }

  &-item.active {

    &:hover {
      cursor: default;

      .advantages-image {
        box-shadow: none;
      }

    }

    .advantages-subitem {
      top: 0;
      z-index: 10;
      opacity: 1;
      transform: rotate(0);
    }

  }

  &-close {
    width: 15px;
    height: 15px;
    background: url(../images/icon-close.png) no-repeat 0 0;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .4s;
    cursor: pointer;

    &:hover {
      transform: rotate(180deg);
    }

  }

  &-subtitle {
    width: calc(100% - 30px);
    font-family: $font-medium;
    font-size: 22px;
    line-height: 25px;
    color: $color-yellow;
    margin: 0 0 15px;
  }

  &-subimage {
    width: 100%;
    height: 90px;
    position: relative;
    overflow: hidden;
    margin: 0 0 15px;

    img {
      max-width: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &-subtext {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
  }

}