/*********************************************
*********** details
**********************************************/

.details {
  background: url(../images/background-details.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 30px 0;

  .title-marker {
    margin: 20px 0;
  }

  @include more-768 {
    padding: 35px 0 50px;
  }

  .grill-image-mobile {
    margin: 25px 0 0;

    @include more-1200 {
      display: none;
    }

  }

  &-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 25px 0 0;
  }

  &-grill {
    display: none;

    @include more-1230 {
      display: block;
      width: 440px;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      margin: auto;
    }

    &-element {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      opacity: .95;
      transition: .4s;

      &.active {
        z-index: 6!important;
        opacity: 1;
        transform: scale(1.05);
      }

      &.unactive {
        transform: scale(.8);
        opacity: .92;
      }

      &:nth-of-type(1) {
        top: 40px;
        z-index: 4;
      }

      &:nth-of-type(2) {
        top: 90px;

        z-index: 3;
      }

      &:nth-of-type(3) {
        top: 200px;
        left: auto;
        right: -25px;
        z-index: 2;
      }

      &:nth-of-type(4) {
        top: 290px;
        right: auto;
        left: 35px;
        z-index: 5;
      }

      &:nth-of-type(5) {
        top: 380px;
        left: -35px;
        z-index: 1;
      }

    }

  }

  &-item {
    width: 50%;
    position: relative;
    margin: 20px 0;
    text-align: left;
    padding: 0 10px 0 0;

    &:nth-of-type(2n) {
      text-align: right;
      padding: 0 0 0 10px;
    }

    &-title {
      display: inline-block;
      margin: 0 0 5px;
      font-family: $font-medium;
      font-size: 16px;
      line-height: 22px;
      color: $color-red;
      transition: .3s;
      cursor: default;

      @include more-768 {
        font-size: 18px;
      }

    }

    &-text {
      font-size: 15px;
      line-height: 20px;
    }

    @include more-1230 {
      margin: 10px 0;
      padding: 0 260px 0 0;
      text-align: right;
      z-index: 10;

      &:after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: $color-red;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 7px rgba(255, 255, 255,  0);
        transition: .8s;
        position: absolute;
        z-index: 10;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        transition: .8s;
        z-index: 9;
      }

      &.active {

        .details-item-title {
          color: $color-black;
        }

        &:after {
          background: $color-yellow;
          border: 2px solid $color-black;
          box-shadow: 0 0 0 7px rgba(255, 255, 255,  .6), 0 0 2px 10px rgba(0, 0, 0, .25);
        }

      }

      &.unactive {

        &:before,
        &:after {
          opacity: 0;
        }

      }

      &:nth-of-type(2n) {
        text-align: left;
        padding: 0 0 0 260px;
      }

      &:nth-of-type(1) {

        &:before {
          width: 164px;
          height: 45px;
          background: url(../images/decor-details-red-1.png) no-repeat 0 0;
          top: 45px;
          right: 75px;
        }

        &:after {
          top: 90px;
          right: 65px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-1.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(2) {

        &:before {
          width: 158px;
          height: 142px;
          background: url(../images/decor-details-red-2.png) no-repeat 0 0;
          top: 40px;
          left: 95px;
        }

        &:after {
          top: 180px;
          left: 90px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-2.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(3) {

        &:before {
          width: 82px;
          height: 44px;
          background: url(../images/decor-details-red-3.png) no-repeat 0 0;
          top: 60px;
          right: 150px;
        }

        &:after {
          top: 100px;
          right: 145px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-3.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(4) {
        transform: translateY(20px);

        &:before {
          width: 108px;
          height: 51px;
          background: url(../images/decor-details-red-4.png) no-repeat 0 0;
          top: 52px;
          left: 150px;
        }

        &:after {
          top: 95px;
          left: 150px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-4.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(5) {

        &:before {
          width: 132px;
          height: 20px;
          background: url(../images/decor-details-red-5.png) no-repeat 0 0;
          top: 30px;
          right: 105px;
        }

        &:after {
          top: 25px;
          right: 100px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-5.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(6) {
        transform: translateY(40px);

        &:before {
          width: 169px;
          height: 46px;
          background: url(../images/decor-details-red-6.png) no-repeat 0 0;
          top: 35px;
          left: 90px;
        }

        &:after {
          top: 70px;
          left: 90px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-6.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(7) {

        &:before {
          width: 179px;
          height: 23px;
          background: url(../images/decor-details-red-7.png) no-repeat 0 0;
          top: 10px;
          right: 75px;
        }

        &:after {
          top: 25px;
          right: 65px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-7.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(8) {
        transform: translateY(50px);

        &:before {
          width: 114px;
          height: 36px;
          background: url(../images/decor-details-red-8.png) no-repeat 0 0;
          top: 10px;
          left: 145px;
        }

        &:after {
          top: 35px;
          left: 140px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-8.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(9) {

        &:before {
          width: 121px;
          height: 31px;
          background: url(../images/decor-details-red-9.png) no-repeat 0 0;
          top: -10px;
          right: 135px;
        }

        &:after {
          top: -15px;
          right: 130px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-9.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(10) {
        transform: translateY(60px);
        z-index: 10;

        &:before {
          width: 128px;
          height: 41px;
          background: url(../images/decor-details-red-10.png) no-repeat 0 0;
          top: -30px;
          left: 130px;
        }

        &:after {
          top: -30px;
          left: 130px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-10.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(11) {

        &:before {
          width: 135px;
          height: 48px;
          background: url(../images/decor-details-red-11.png) no-repeat 0 0;
          top: -23px;
          right: 120px;
        }

        &:after {
          top: -25px;
          right: 115px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-11.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(12) {
        transform: translateY(90px);
        z-index: 10;

        &:before {
          width: 192px;
          height: 98px;
          background: url(../images/decor-details-red-12.png) no-repeat 0 0;
          top: -85px;
          left: 65px;
        }

        &:after {
          top: -90px;
          left: 60px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-12.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(13) {

        &:before {
          width: 153px;
          height: 128px;
          background: url(../images/decor-details-red-13.png) no-repeat 0 0;
          top: -75px;
          right: 110px;
        }

        &:after {
          top: -85px;
          right: 105px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-13.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(14) {
        transform: translateY(110px);
        z-index: 10;

        &:before {
          width: 272px;
          height: 156px;
          background: url(../images/decor-details-red-14.png) no-repeat 0 0;
          top: -155px;
          left: 25px;
        }

        &:after {
          top: -160px;
          left: 20px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-14.png) no-repeat 0 0;
          }

        }

      }

      &:nth-of-type(15) {
        z-index: 10;

        &:before {
          width: 190px;
          height: 125px;
          background: url(../images/decor-details-red-15.png) no-repeat 0 0;
          top: -100px;
          right: 65px;
        }

        &:after {
          top: -105px;
          right: 60px;
        }

        &.active {

          &:before {
            background: url(../images/decor-details-black-15.png) no-repeat 0 0;
          }

        }

      }

    }

  }

  &-links {

    @include more-768 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &-item {
      display: flex;
      justify-content: flex-start;
      text-decoration: underline;
      cursor: pointer;
      color: $black;
      margin: 25px 10px 0;
      border: none;
      background: none;

      @include more-768 {
        justify-content: center;
      }

      &:hover {
        text-decoration: none;
      }

    }

    &-icon {
      width: 37px;
      flex-shrink: 0;
      margin: 0 12px 0 0;
    }

    &-text {
      font-family: $font-medium;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: left;
      color: $black;

      br {
        display: none;

        @include more-768 {
          display: block;
        }

      }

    }

  }

}
