/*********************************************
*********** footer
**********************************************/

footer {
  padding: 25px 0 0;
  background: #000;
  color: #fff;
  font-size: 17px;

  a {
    color: inherit;

    &:hover {
      color: #fff;
    }

  }

  @include more-1230 {
    width: 1230px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
  }

}

.footer {

  &-copyrights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 60px;
    position: relative;
    min-height: 65px;

    @include more-576 {
      padding: 0 0 0 80px;
      min-height: auto;
      align-items: flex-start;
    }

    .logo-small {
      width: 45px;
      position: absolute;
      left: 0;
      top: 0;

      @include more-576 {
        width: 63px;
      }

    }

    &-text {
      font-family: $font-medium;
      line-height: 20px;

      @include more-576 {
        margin: 0 0 10px;
      }

    }

    &-tagline {
      line-height: 22px;
      margin: 0 0 20px;

      @include more-576 {
        padding: 0 0 0 80px;
      }

      @include more-992 {
        margin: 0;
      }

    }

  }

  &-address {
    font-family: $font-medium;
    line-height: 20px;
    margin: 0 0 10px;

    br {
      display: none;
    }

  }

  &-email {

    a {
      color: $color-yellow;
      text-decoration: underline;

      &:hover {
        color: $color-yellow;
        text-decoration: none;
      }

    }

  }

  @include more-576 {

    &-email,
    &-phone {
      display: inline-block;
      vertical-align: middle;
    }

    &-phone {
      margin: 0 5px 0 0;
    }

  }

  &-tagline-wrapper {
    padding: 0!important;
  }

  &-tagline {
    font-size: 30px;
    line-height: 37px;
    padding: 25px 15px;
    text-align: center;
    background: $color-red;
    margin: 25px 0 0;
    background: url(../images/background-order.jpg) no-repeat center center;
    background-size: cover;
  }

}