/*********************************************
*********** header
**********************************************/

.header {
  padding: 10px 0 20px;
  text-align: center;
  background: #f7f7f7 url(../images/background-decor-header.png) no-repeat center -280px;

  @include more-576 {
    background-position: 250px -160px;
  }

  @include more-1230 {
    padding: 35px 0;
  }

  .logo {
    padding: 0 0 0 75px;
    position: relative;

    &-small {
      width: 63px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &-large {
      width: 200px;
      padding: 5px 20px 7px 0;
    }

    &-text {
      text-transform: uppercase;
      font-family: $font-medium;
      font-size: 11px;
      line-height: 16px;
      white-space: nowrap;

      span {
        display: block;
        font-family: inherit;
      }

    }

  }

  .logo,
  &-data {
    display: inline-block;
    text-align: left;
  }

  &-data {
    width: 250px;
    padding: 0 0 0 30px;
    position: relative;
    margin: 15px 0 0;

    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 19px;
      background: url(../images/decor-waves-red.png) no-repeat 0 0;
      position: absolute;
      left: 0;
      top: 7px;
    }

    @include more-1230 {
      margin: 0;
    }

  }

  &-address {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 5px;
  }

  &-hours {
    font-family: $font-medium;
    color: $color-grey;
    font-size: 15px;
    line-height: 18px;

    span {
      font-family: inherit;
    }

  }

  &-phone {
    font-size: 20px;
    line-height: 1;
    color: $color-black;

    &:hover {
      color: $color-black;
    }

  }

  &-email {
    font-family: $font-medium;
    color: $color-grey;
    font-size: 15px;
    line-height: 18px;

    a {
      font-family: inherit;
    }

  }

  .button-decor {
    margin: 20px 0 0;

    @include more-1230 {
      margin: 0;
    }

  }

  &-sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 0;
    background: $color-red;
    overflow: hidden;
    z-index: 101;

    @include more-1230 {
      position: static;
      background: url(../images/background-header-nav.jpg) no-repeat center center;

      &.fixed {
        position: fixed;
      }

    }

  }

  &-nav {
    display: none;

    @include more-1230 {
      display: block!important;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 15px 0 0;
      list-style: none;

      @include more-1230 {
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 0;
      }

      li {
        margin: 5px 11px;
        flex-shrink: 0;

        &:first-child {
          margin: 5px 10px 5px 0;
        }

        &:last-child {
          margin: 5px 0 5px 10px;
        }

        @include more-1230 {
          position: relative;

          &:before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $color-yellow;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -12px;
            margin: auto;
          }

          &:first-child:before {
            display: none;
          }

        }

        a {
          display: block;
          font-size: 18px;
          line-height: 1;
          color: #fff;

          @include more-1230 {

            &:hover {
              color: #ffcc00;
            }

            &:before {
              content: '';
              display: block;
              width: 19px;
              height: 15px;
              background: url(../images/decor-waves-vertical.png) no-repeat 0 0;
              transition: .3s;
              transform: translateY(-20px);
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              top: -20px;
            }

          }

          &.active {
            color: #ffcc00;

            @include more-1230 {

              &:before {
                transform: translateY(0);
              }

            }

          }

          &:hover {
            text-decoration: none;
          }

        }

      }

    }

  }

}

.burger {
  display: block;
  width: 30px;
  height: 20px;
  margin: auto;
  position: relative;
  cursor: pointer;

  @include more-1230 {
    display: none;
  }

  > div {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: .4s;
    transform-origin: center;
  }

  &-top {
    top: 0;
  }

  &-center {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  &-bottom {
    bottom: 0;
  }

  &.active {

    .burger-top {
      top: 9px;
      transform: rotate(-45deg);
    }

    .burger-center {
      left: 50%;
      width: 0;
    }

    .burger-bottom {
      bottom: 9px;
      transform: rotate(45deg);
    }
  }

}