/*********************************************
*********** info
**********************************************/

.info {
  background: $color-light url(../images/background-decor-header.png) no-repeat center center;
  padding: 30px 0;

  h2 {
    margin: 0 0 30px;
  }

  @include more-768 {
    padding: 50px 0;
  }

  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-item {
    width: 100%;
    min-height: 80px;
    margin: 15px 0;
    position: relative;

    @include more-768 {
      width: 50%;
    }

    @include more-576 {
      padding: 0 40px 0 100px;
    }

  }

  &-image {
    max-width: 80px;
    margin: 0 0 10px;

    img {
      margin: 0;
    }

    @include more-576 {
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

  }

  &-title {
    font-family: $font-medium;
    font-size: 20px;
  }

  &-text {
    font-size: 15px;
    line-height: 24px;
  }

}