/*********************************************
*********** interiors
**********************************************/

.interiors {
  padding: 30px 0;
  background: url(../images/background-yellow-large.jpg) no-repeat center center;
  background-size: cover;

  h2 {
    margin: 0 0 30px;

    @include more-768 {
      text-align: center;
      font-size: 32px;
    }

    @include more-992 {
      font-size: 37px;
    }

  }

  @include more-768 {
    padding: 70px 0 45px;
  }

  &-slider {
    padding: 0 45px;
    text-align: center;

    .slick-arrow {
      top: 80px;
    }

    .slick-prev {
      background: url(../images/arrow-slider-prev-red.png) no-repeat 0 0;
    }

    .slick-next {
      background: url(../images/arrow-slider-next-red.png) no-repeat 0 0;
    }

  }

  &-image {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 15px solid #fff;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 57px;
      height: 57px;
      background: url(../images/icon-search.png) no-repeat center center;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      transition: .3s;
    }

    @include more-1230 {
      width: 241px;
      height: 241px;

      &:hover {

        &:before {
          transform: scale(1.1);
        }

      }

    }

  }

  &-name {
    display: inline-block;
    font-family: $font-medium;
    font-size: 19px;
    line-height: 25px;
    margin: 0 0 5px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #ffe065;
      position: absolute;
      left: 0;
      top: -17px;
    }

    &:after {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-yellow url(../images/decor-waves-red.png) no-repeat center center;
      width: 32px;
      height: 32px;
      position: absolute;
      left: 0;
      right: 0;
      top: -33px;
      margin: auto;
    }

  }

  &-data {
    font-size: 19px;
    line-height: 25px;
  }

}