/*********************************************
*********** modals
**********************************************/

.modal {
  text-align: center;

  &-dialog {
    margin: 30px .5rem .5rem;

    .modal-content {
      align-items: center;
    }

    &.modal-properties {

      @include more-576 {
        max-width: 630px;
      }

    }

  }

  p {
    font-family: $font-medium;
    font-size: 17px;
    line-height: 20px;
    margin: 15px 0;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-red;
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    margin: auto;
    opacity: 1;

    span {
      text-shadow: none;
      font-size: 28px;
      color: #fff;
    }

    &:hover {
      transform: rotate(-180deg);
      opacity: 1!important;
    }

  }

  &-content {
    padding: 25px;
    border-radius: $radius;

    @include more-400 {
      padding: 25px 50px 40px;
    }

  }

  &-header {
    display: block;
    padding: 0 20px 15px;
    margin: 0 0 15px;
    font-family: $font-bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border-color: #c62d27;
  }

  form {

    input {
      text-align: left;
    }

    .custom-label {
      margin: 20px 0;
    }

    .button,
    .button-inner {
      width: 100%;
      background-size: 100% auto;
    }

  }

  @include more-576 {

    &-dialog {
      margin: 1.75rem auto;
    }

  }

}

.form-callback {
  text-align: left;

  .button {
    margin: 20px 0 0;
  }

}

.properties {

  &-list {
    width: 100%;
  }

  &-item {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #cdd2d4;

    &:last-of-type {
      border-bottom: none;
    }

  }

  &-title {
    font-family: $font-medium;
  }

  @include more-576 {

    &-item {
      display: flex;
      padding: 15px 0;
    }

    &-value,
    &-title {
      width: 50%;
      font-family: $font-regular;
    }

    &-title {
      text-align: left;
      padding: 0 10px 0 0;
    }

    &-value {
      text-align: right;
      padding: 0 0 0 10px;
    }

  }

}