/*********************************************
*********** order
**********************************************/

.order {
  background: $color-red;
  padding: 25px 0 35px;
  overflow: hidden;

  @include more-992 {
    background: url(../images/background-order.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px 0 50px;
  }

  h2 {
    color: #fff;

    @include more-992 {
      text-align: left;
      margin: 0 0 25px;
      padding: 0 320px 0 0;
    }

    @include more-1200 {
      padding: 0;
    }

  }

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;

    .custom-label {
      margin: 0 0 20px;

      span[class*="not-valid-tip"] {
        color: $white;
      }

    }

    @include more-992 {
      justify-content: flex-start;
      width: calc(100% - 350px);
      max-width: none;
      margin: 0;

      .custom-label {
        width: 245px;
        flex-shrink: 0;
        margin: 0 30px 0 0;
      }

      .button {
        flex-shrink: 0;
        margin: 25px 60px 0 0;
      }

    }

    @include more-1230 {

      .button {
        flex-shrink: 0;
        margin: 0;
      }

    }

  }

  .order-image {
    width: 100%;
    max-width: 400px;
    margin: 15px auto;

    @include more-992 {
      max-width: 300px;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
    }

    @include more-1200 {
      max-width: 420px;
    }

    img {
      margin: 0;
    }

  }

}