/*********************************************
*********** top
**********************************************/

.top {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;

  &-slider {
    position: relative;

    &-tagline {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 10.4em;
      overflow: hidden;
      position: relative;
      font-family: $font-bold;
      font-size: 24px;
      line-height: 1.3em;
      color: #fff;
      text-align: center;

      @include more-992 {
        font-size: 36px;
        line-height: 42px;
        max-width: 530px;
      }

      @include more-1230 {
        font-size: 50px;
        line-height: 57px;
        max-width: 820px;
      }

    }

  }

  &-slide {
    height: 420px;
    padding: 20px 0 0;

    @include more-992 {
      height: 790px;
      padding: 60px 0 0;
    }

  }

  .slick-arrow {
    position: absolute;
    top: auto;
    bottom: 20px;

    @include more-992 {
      top: auto;
      bottom: 50px;
    }

  }

  .slick-prev {
    left: calc(50% - 47px);
    right: auto;
    background: url(../images/arrow-slider-prev-white.png) no-repeat 0 0;
  }

  .slick-next {
    left: calc(50% + 20px);
    right: auto;
    background: url(../images/arrow-slider-next-white.png) no-repeat 0 0;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px 15px;
    border-radius: $radius;
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%) skew(-7deg);
    list-style: none;
    background: rgba(0, 0, 0, .77);

    @include more-992 {
      bottom: 120px;
    }

    li {
      margin: 0 5px;
      transform: skew(7deg);

      button {
        display: block;
        width: 22px;
        height: 28px;
        background: transparent url(../images/slider-dot.png) no-repeat 0 0;
        border: none;
        font-size: 0;
        color: transparent;
        cursor: pointer;
      }

      &.slick-active {

        button {
          background: transparent url(../images/slider-dot-active.png) no-repeat 0 0;
        }

      }

    }

  }

  .form-gift {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    background: rgba(255, 255, 255, .87);
    border-radius: $radius;
    padding: 20px 30px 30px;

    p {
      font-family: $font-medium;
      margin: 15px 0;
    }

    &-title {
      font-family: $font-bold;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0 0 5px;
    }

    &-subtitle {
      font-family: $font-regular;
      font-size: 17px;
      line-height: 18px;
      margin: 0 0 10px;
    }

    &-image {
      margin: 0 0 10px;
    }

    &-offer {
      margin: 15px -30px 25px;
      padding: 15px 0;
      background: linear-gradient(to right, #d63a32, #c62d27);
      color: #fff;
      font-size: 27px;
      line-height: 1;
      text-transform: uppercase;
      position: relative;

      &:before,
      &:after {
        content: '';
        height: 1px;
        background: linear-gradient(to right, rgba(255, 255, 255, .5) 6px, transparent 6px) repeat-x 0 0;
        background-size: 10px 100%;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
      }

      &:after {
        top: auto;
        bottom: 5px;
      }

    }

    .custom-label {
      margin: 25px 0;
    }

    .button {
      width: 100%;
    }

  }

}

.top.top-left {

  @include more-992 {

    .top-slider-tagline {
      text-align: left;
      float: left;
    }

    .form-gift {
      position: absolute;
      top: 40px;
      right: 40px;

    }

    .slick-prev {
      left: 70px;
    }

    .slick-next {
      left: 140px;
    }

    .slick-dots {
      left: 40px;
      transform: none;
    }

  }

  @include more-1230 {

    .form-gift {
      position: absolute;
      top: 40px;
      right: auto;
      left: calc(50% + 250px);
    }

    .slick-prev {
      left: calc(50% - 570px);
    }

    .slick-next {
      left: calc(50% - 500px);
    }

    .slick-dots {
      left: calc(50% - 600px);
    }

  }

}

.top.top-right {

  @include more-992 {

    .top-slider-tagline {
      float: right;
      text-align: right;
    }

    .form-gift {
      position: absolute;
      top: 40px;
      left: 40px;

    }

    .slick-prev {
      left: auto;
      right: 140px;
    }

    .slick-next {
      left: auto;
      right: 70px;
    }

    .slick-dots {
      left: auto;
      right: 40px;
      transform: none;
    }

  }

  @include more-1230 {

    .form-gift {
      position: absolute;
      top: 40px;
      left: auto;
      right: calc(50% + 250px);
    }

    .slick-prev {
      right: calc(50% - 500px);
    }

    .slick-next {
      right: calc(50% - 570px);
    }

    .slick-dots {
      right: calc(50% - 600px);
    }

  }

}