/*********************************************
*********** trivia
**********************************************/

.trivia {
  padding: 25px 0;

  @include more-992 {
    padding: 55px 0;
  }

  h2 {
    font-family: $font-medium;
    font-size: 27px;
    margin: 0 0 30px;
    text-align: left;

    @include more-576 {
      text-align: center;
    }

  }

  &-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @include counter;
    margin: 0;
  }

  &-item {
    width: 100%;
    min-height: 64px;
    flex-shrink: 0;
    position: relative;
    padding: 0 0 0 85px;
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 22px;

    @include more-576 {
      width: 50%;
      padding: 0 15px 0 85px;
    }

    @include more-992 {
      width: 25%;
      margin: 0;
      padding: 0 35px 0 85px;
    }

    &:last-child {
      margin: 0;
    }

    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      background: #fff;
      border-radius: 50%;
      font-size: 37px;
      line-height: 1;
      transform: rotate(-10deg);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }

    &:after {
      content: '';
      display: block;
      width: 0; height: 0;
      border-radius: 50%;
      border: 35px solid transparent;
      transform: rotate(-45deg);
      position: absolute;
      left: -3px;
      top: -3px;
      z-index: 1;
    }

    &:nth-child(1) {

      &:after {
        border-top-color: $color-red;
      }

    }

    &:nth-child(2) {

      &:after {
        border-top-color: $color-red;
        border-right-color: $color-red;
      }

    }

    &:nth-child(3) {

      &:after {
        border-top-color: $color-red;
        border-right-color: $color-red;
        border-bottom-color: $color-red;
      }

    }

    &:nth-child(4) {

      &:after {
        border-color: $color-red;
      }

    }

  }

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}