/*********************************************
*********** video
**********************************************/

.video {
  padding: 30px 0 10px;

  h2 {
    color: #fff;
  }

  @include more-768 {
    padding: 50px 0;
  }

  &-slider {
    padding: 0 50px;

    .slick-arrow {
      top: 0;
      bottom: 0;
    }

    .slick-prev {
      background: url(../images/arrow-slider-prev-white.png) no-repeat 0 0;
    }

    .slick-next {
      background: url(../images/arrow-slider-next-white.png) no-repeat 0 0;
    }

  }

  &-slide {
    display: block;
    background: #fff;
    border-radius: $radius;
    overflow: hidden;
    border: 10px solid #fff;
    margin: 20px 5px;
    transition: .3s;
    cursor: pointer;

    @include more-768 {
      margin: 20px 20px;
    }

    @include more-992 {
      border: 20px solid #fff;
    }

  }

  &-image {
    display: block;
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    margin: 0 0 10px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(255, 255, 255, .27) url(../images/icon-video.png) no-repeat 55% center;
      background-size: 50% 50%;
      transition: .3s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 1;

      @include more-992 {
        width: 110px;
        height: 110px;
        background-size: auto;
      }

    }

  }

  &-text {
    font-family: $font-medium;
    font-size: 12px;
    line-height: 18px;

    @include more-992 {
      font-size: 19px;
      line-height: 25px;
    }

  }

  &-slide:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .75);

    .video-image:before {
      background-color: rgba(255, 255, 255, .75);
      transform: scale(1.1);
    }

  }

}