/*********************************************
*********** ways
**********************************************/

.ways {
  padding: 20px 0 40px;
  text-align: center;

  h2 {
    color: #fff;
    margin: 0 0 15px;
  }

  @include more-768 {
    padding: 45px 0 70px;

    h2 {
      margin: 0 0 25px;
    }

  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 20px 0 0;
    list-style: none;
    @include counter;

    @include more-768 {
      margin: 35px 0 0;
    }

    @include more-1230 {
      justify-content: space-between;
    }

  }

  &-item {
    width: 100%;
    max-width: 350px;
    margin: 20px 0;
    padding: 30px;
    background: #fff;
    border-radius: $radius;
    position: relative;

    &:before {
      font-family: $font-medium;
      font-size: 37px;
      line-height: 1;
      color: $color-light;
      position: absolute;
      top: 25px;
      left: 25px;
      z-index: 1;
    }

    @include more-576 {
      margin: 20px;
    }

    @include more-1230 {
      margin: 20px 0;
    }

  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: $color-yellow;
  }

  &-title {
    font-family: $font-medium;
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 5px;
  }

  &-subtitle {
    font-family: $font-medium;
    font-size: 19px;
    line-height: 22px;
    margin: 0 0 40px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #cdd2d4;
      position: absolute;
      left: 0;
      bottom: -20px;
    }

    &:after {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff url(../images/decor-waves-white.png) no-repeat center center;
      width: 32px;
      height: 32px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -36px;
      margin: auto;
    }

  }

  &-text {
    text-align: left;
    font-size: 17px;
    line-height: 25px;
  }

}