div(id='about' class='about')
    div(class='container')
        div(class='row')
            div(class='col-12 d-flex flex-wrap')
                div(class='about-magic')
                    div(class='about-magic-image')
                        img(src='images/image-about-magic.png' alt='some text')
                    h3
                        != 'Вам нравится еда...'
                    p
                        != '...с ароматом копчения, но вы полагаете, что невозможно объединить две такие далёкие друг от друга вещи, как гриль на углях и закрытое помещение?'
                    h3
                        != 'Магия Cookman'
                    p
                        != 'Гриль не пересушивает продукты, обжаривая их одновременно внутри и снаружи за счёт феномена резонансного поглощения инфра-красных волн. Еда получается такой восхитительной за счёт использования двух важных составляющих:'
                    div(class='about-magic-list')
                        div(class='about-magic-item')
                            div(class='about-magic-icon')
                                img(src='images/icon-about-magic-1.png' alt='some text')
                            div(class='about-magic-text')
                                != 'Био-<br>инфракрасных <br>волн'
                        div(class='about-magic-item')
                            div(class='about-magic-icon')
                                img(src='images/icon-about-magic-2.png' alt='some text')
                            div(class='about-magic-text')
                                != 'Дубового <br>древесного <br>угля'
                div(class='about-content')
                    h2(class='text-red')
                        != 'Cookman: когда готовить — одно удовольствие!'
                    h3
                        != 'Мы представляем вашему вниманию совершенно новый подход к приготовлению вкусной и полезной еды!'
                    p
                        != '<strong>Первый в мире высокотехнологичный гриль Cookman</strong>, использующий эффект инфракрасных волн и дубового древесного угля, навсегда изменит ваше представление об ужине, превратив привычный процесс в увлекательное шоу!'
                    div(class='about-image')
                        img(src='images/image-order.png' alt='some text')
                    div(class='about-column')
                        h3
                            != 'В это сложно поверить...'
                        p
                            != '...но встраиваемый гриль Cookman — это уникальная возможность готовить вкусную, сочную и, главное, полезную пищу на углях без запаха прямо на кухне, не включая вытяжку!'
                        ul(class='custom-list')
                            li
                                != 'Никакого дыма и запаха еды'
                            li
                                != 'Никаких канцерогенов'
                            li
                                != 'Только вкусная и здоровая пища'