form(class='form-accessories')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'Также вы можете заказать аксессуары для гриля Cookman'
        div(class='row justify-content-center')
            div(class='col-12 col-sm-10 col-md-8 col-lg-4')
                input(type='checkbox' id='accessories-item-1' class='form-accessories-checkbox' name='accessories-item' value='ИК-лампа')
                label(for='accessories-item-1')
                    div(class='form-accessories-image')
                        img(src='images/image-accessories-1.jpg' alt='some text')
                    div(class='form-accessories-title')
                        != 'ИК-лампа'
                    div(class='form-accessories-text')
                        != 'Инфракрасные волны проникают примерно на 4-5 сантиметров внутрь тканей тела'
            div(class='col-12 col-sm-10 col-md-8 col-lg-4')
                input(type='checkbox' id='accessories-item-2' class='form-accessories-checkbox' name='accessories-item' value='Уголь')
                label(for='accessories-item-2')
                    div(class='form-accessories-image')
                        img(src='images/image-accessories-2.jpg' alt='some text')
                    div(class='form-accessories-title')
                        != 'Уголь'
                    div(class='form-accessories-text')
                        != 'Дубовый древесный уголь считается лучшим из всех видов древесного угля.'
            div(class='col-12 col-sm-10 col-md-8 col-lg-4')
                input(type='checkbox' id='accessories-item-3' class='form-accessories-checkbox' name='accessories-item' value='Противень')
                label(for='accessories-item-3')
                    div(class='form-accessories-image')
                        img(src='images/image-accessories-3.jpg' alt='some text')
                    div(class='form-accessories-title')
                        != 'Противень'
                    div(class='form-accessories-text')
                        != 'Из жаропрочного небьющегося стекла сохраняет рабочую поверхность стола'
        div(class='row')
            div(class='col-12 d-flex justify-content-center flex-wrap')
                label(class='custom-label')
                    input(type='text' name='accessories-name' placeholder='— ваше имя —')
                label(class='custom-label')
                    input(type='tel' name='accessories-phone' placeholder='— ваш телефон —')
                button(type='submit' class='button button-red')
                    span(class='button-inner')
                        != 'Заказать'