div(id='advantages' class='advantages')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2(class='text-red')
                    != 'Оцените все достоинства встраиваемого гриля'
                div(class='advantages-list')
                    div(class='advantages-item')
                        div(class='advantages-image')
                            img(src='images/image-advantages-full-1.jpg' alt='some-text')
                        div(class='advantages-title')
                            != 'Готовый ресторанный <br>бизнес'
                        div(class='advantages-subitem')
                            div(class='advantages-close')
                            div(class='advantages-subtitle')
                            div(class='advantages-subimage')
                            div(class='advantages-subtext')
                                != 'Встраиваемый гриль предлагает искушенному покупателю возможность принять непосредственное участие в приготовлении блюд. Это готовый гастрономический бизнес, который без больших затрат превращает ресторан в уникальное заведение, в котором не будет отбоя от посетителей. '
                    div(class='advantages-item')
                        div(class='advantages-image')
                            img(src='images/image-advantages-full-2.jpg' alt='some-text')
                        div(class='advantages-title')
                            != 'Полезная и вкусная <br>пища'
                        div(class='advantages-subitem')
                            div(class='advantages-close')
                            div(class='advantages-subtitle')
                            div(class='advantages-subimage')
                            div(class='advantages-subtext')
                                != 'Встраиваемый гриль предлагает искушенному покупателю возможность принять непосредственное участие в приготовлении блюд. Это готовый гастрономический бизнес, который без больших затрат превращает ресторан в уникальное заведение, в котором не будет отбоя от посетителей. '
                    div(class='advantages-item')
                        div(class='advantages-image')
                            img(src='images/image-advantages-full-3.jpg' alt='some-text')
                        div(class='advantages-title')
                            != 'Барбекю <br>в помещении'
                        div(class='advantages-subitem')
                            div(class='advantages-close')
                            div(class='advantages-subtitle')
                            div(class='advantages-subimage')
                            div(class='advantages-subtext')
                                != 'Встраиваемый гриль предлагает искушенному покупателю возможность принять непосредственное участие в приготовлении блюд. Это готовый гастрономический бизнес, который без больших затрат превращает ресторан в уникальное заведение, в котором не будет отбоя от посетителей. '
                    div(class='advantages-item')
                        div(class='advantages-image')
                            img(src='images/image-advantages-full-4.jpg' alt='some-text')
                        div(class='advantages-title')
                            != 'Простота и лёгкость <br>в уходе'
                        div(class='advantages-subitem')
                            div(class='advantages-close')
                            div(class='advantages-subtitle')
                            div(class='advantages-subimage')
                            div(class='advantages-subtext')
                                != 'Встраиваемый гриль предлагает искушенному покупателю возможность принять непосредственное участие в приготовлении блюд. Это готовый гастрономический бизнес, который без больших затрат превращает ресторан в уникальное заведение, в котором не будет отбоя от посетителей. '
                    div(class='advantages-item')
                        div(class='advantages-image')
                            img(src='images/image-advantages-full-5.jpg' alt='some-text')
                        div(class='advantages-title')
                            != 'Уникальный <br>продукт'
                        div(class='advantages-subitem')
                            div(class='advantages-close')
                            div(class='advantages-subtitle')
                            div(class='advantages-subimage')
                            div(class='advantages-subtext')
                                != 'Встраиваемый гриль предлагает искушенному покупателю возможность принять непосредственное участие в приготовлении блюд. Это готовый гастрономический бизнес, который без больших затрат превращает ресторан в уникальное заведение, в котором не будет отбоя от посетителей. '
                    div(class='advantages-item')
                        div(class='advantages-image')
                            img(src='images/image-advantages-full-6.jpg' alt='some-text')
                        div(class='advantages-title')
                            != 'Исключительная <br>надёжность'
                        div(class='advantages-subitem')
                            div(class='advantages-close')
                            div(class='advantages-subtitle')
                            div(class='advantages-subimage')
                            div(class='advantages-subtext')
                                != 'Встраиваемый гриль предлагает искушенному покупателю возможность принять непосредственное участие в приготовлении блюд. Это готовый гастрономический бизнес, который без больших затрат превращает ресторан в уникальное заведение, в котором не будет отбоя от посетителей. '