div(id='details' class='details')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'Знакомство с Cookman'
                div(class='title-marker')
                    span(class='title-marker-text')
                        != 'ваш гриль в деталях'
        div(class='row')
            div(class='col-12')
                div(class='grill-image-mobile')
                    img(src='images/image-grill-mobile.png' alt='some text')
                ul(class='details-list')
                    li(class='details-item' data-element='1')
                        div(class='details-item-title')
                            != 'Декоративная крышка'
                        div(class='details-item-text')
                            != 'из жаропрочного небьющегося стекла <br>сохраняет рабочую поверхность стола'
                    li(class='details-item' data-element='2')
                        div(class='details-item-title')
                            != 'Перфорированная поверхность гриля'
                        div(class='details-item-text')
                            != 'для доведения продуктов до готовности <br>с ароматом дымка'
                    li(class='details-item' data-element='2')
                        div(class='details-item-title')
                            != 'Противень с уникальным покрытием'
                        div(class='details-item-text')
                            != 'легко моется обычной водой без <br>применения химии'
                    li(class='details-item' data-element='2')
                        div(class='details-item-title')
                            != 'Основная рабочая поверхность'
                        div(class='details-item-text')
                            != 'при температуре от 50 до 380° продукты <br>не подгорают: сложно обжечься'
                    li(class='details-item' data-element='2')
                        div(class='details-item-title')
                            != 'Дубовый уголь'
                        div(class='details-item-text')
                            != 'абсорбирует запахи, пропитывает еду <br>«дымком», изолирует электромагнитные волны'
                    li(class='details-item' data-element='3')
                        div(class='details-item-title')
                            != 'ИК-волны'
                        div(class='details-item-text')
                            != 'готовят продукты изнутри, полезны для здоровья'
                    li(class='details-item' data-element='3')
                        div(class='details-item-title')
                            != 'Две ИК-лампы'
                        div(class='details-item-text')
                            != 'надёжно защищены от попадания <br>воды и жира, срок службы 5 лет'
                    li(class='details-item' data-element='3')
                        div(class='details-item-title')
                            != 'Индикатор нагрева'
                        div(class='details-item-text')
                            != 'загорается, когда можно начинать готовить'
                    li(class='details-item' data-element='4')
                        div(class='details-item-title')
                            != 'Защита ламп'
                        div(class='details-item-text')
                            != 'Защита ламп'
                    li(class='details-item' data-element='3')
                        div(class='details-item-title')
                            != 'Точная цифровая регулировка'
                        div(class='details-item-text')
                            != 'мощность от 20 до 1 300 Вт'
                    li(class='details-item' data-element='4')
                        div(class='details-item-title')
                            != 'Дефлекторы'
                        div(class='details-item-text')
                            != 'для регулировки насыщенности <br>аромата «дымка»'
                    li(class='details-item' data-element='3')
                        div(class='details-item-title')
                            != 'Поверхность из нержавейки'
                        div(class='details-item-text')
                            != 'прочна, эстетична, легко моется проточной водой'
                    li(class='details-item' data-element='4')
                        div(class='details-item-title')
                            != 'Контейнер для угля'
                        div(class='details-item-text')
                            != 'легко вынимается с помощью <br>специальной ручки'
                    li(class='details-item' data-element='3')
                        div(class='details-item-title')
                            != 'Продуманная теплоизоляция'
                        div(class='details-item-text')
                            != 'целых 5 уровней пожарной безопасности'
                    li(class='details-item' data-element='5')
                        div(class='details-item-title')
                            != 'Поддон для масла и крошек'
                        div(class='details-item-text')
                            != 'можно подстелить влажную салфетку'
                div(class='details-grill')
                    div(class='details-grill-element' data-element='1')
                        img(src='images/image-detail-1.png' alt='some text')
                    div(class='details-grill-element' data-element='2')
                        img(src='images/image-detail-2.png' alt='some text')
                    div(class='details-grill-element' data-element='3')
                        img(src='images/image-detail-3.png' alt='some text')
                    div(class='details-grill-element' data-element='4')
                        img(src='images/image-detail-4.png' alt='some text')
                    div(class='details-grill-element' data-element='5')
                        img(src='images/image-detail-5.png' alt='some text')