footer
    div(class='container')
        div(class='row align-items-center')
            div(class='col-12 col-lg-6')
                div(class='footer-copyrights')
                    div(class='logo-small')
                        img(src='images/logo-small-footer.png' alt='Cookman')
                    div(class='footer-copyrights-text')
                        != '© 2018. EcoGrill. Все права защищены'
                div(class='footer-copyrights-tagline')
                    != 'Встраиваемый инфракрасный электрический гриль Cookman: новый формат ужина в ресторане и дома!'
            div(class='col-12 col-lg-6 text-lg-right')
                div(class='footer-address')
                    != 'г. Москва, Ярцевская 27/9, офис 3,'
                div(class='footer-phone')
                    != 'телефон <a href="tel:+74953746302">+7 (495) 374-63-02</a>,'
                div(class='footer-email')
                    != 'электронная почта <a href="mailto:info@ekogril.ru">info@ekogril.ru</a>'
    div(class='footer-tagline')
        div(class='container')
            div(class='row align-items-center')
                div(class='col-12 footer-tagline-wrapper')
                    != 'Гриль Cookman: сердце вашей кухни!'