header(id='home')
    div(class='header')
        div(class='container')
            div(class='row align-items-center')
                div(class='col-12 col-sm-6 col-xl-3 order-sm-1 order-xl-1')
                    div(class='logo')
                        div(class='logo-small')
                            img(src='images/logo-small-header.png' alt='Cookman')
                        div(class='logo-large')
                            img(src='images/logo-large.png' alt='EcoGrill')
                        h1(class='logo-text')
                            != 'Встраиваемый инфракрасный <span class="text-red">электрический гриль Cookman</span>'
                div(class='col-12 col-sm-6 col-xl-3 order-sm-3 order-xl-2')
                    div(class='header-data')
                        div(class='header-address')
                            != 'г. Москва, ул. Ярцевская, <br>д. 27/9, офис 3'
                        div(class='header-hours')
                            != 'Работаем <span class="text-red">с 9:00 до 17:00</span>'
                div(class='col-12 col-sm-6 col-xl-3 order-sm-4 order-xl-3')
                    div(class='header-data')
                        a(href='tel:+74953746302' class='header-phone')
                            != '+7 (495) 374-63-02'
                        div(class='header-email')
                            != 'Ждем писем на <a href="mailto:info@ekogril.ru" class="text-red">info@ekogril.ru</a>'
                div(class='col-12 col-sm-6 col-xl-3 order-sm-2 order-xl-4 text-xl-right')
                    button(class='button button-decor' data-toggle="modal" data-target="#callback")
                        span(class='button-inner')
                            != 'Заказать звонок'
    div(class='header-sticky')
        div(class='container')
            div(class='row')
                div(class='col-12')
                    div(class='burger')
                        div(class='burger-top')
                        div(class='burger-center')
                        div(class='burger-bottom')
                    nav(class='header-nav')
                        ul
                            li
                                a(href='#home' class='active')
                                    != 'Начало'
                            li
                                a(href='#about')
                                    != 'Магия Cookman'
                            li
                                a(href='#ways')
                                    != 'Как он работает'
                            li
                                a(href='#advantages')
                                    != 'Преимущества'
                            li
                                a(href='#details')
                                    != 'Уникальность конструкции'
                            li
                                a(href='#interiors')
                                    != 'Cookman в интерьере'
                            li
                                a(href='#info')
                                    != 'О компании и контакты'