div(id='info' class='info')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2(class='text-red')
                    != 'Cookman продуман до мелочей'
                div(class='info-list')
                    div(class='info-item')
                        div(class='info-image')
                            img(src='images/icon-info-1.png' alt='some text')
                        div(class='info-title')
                            != 'Эксклюзивный представитель'
                        div(class='info-text')
                            != 'Компания EcoGrill более 10 лет является эксклюзивным представителем бренда Cookman — надёжного производителя бытовой техники из Южной Кореи.'
                        != 'Cookman продуман до мелочей'
                    div(class='info-item')
                        div(class='info-image')
                            img(src='images/icon-info-2.png' alt='some text')
                        div(class='info-title')
                            != 'Гарантийное обслуживание'
                        div(class='info-text')
                            != 'Наши клиенты получают годовую гарантию на гриль Cookman при условии соблюдения правил эксплуатации. На сегодняшний день у компании не было ни одной рекламации!'
                        != 'Cookman продуман до мелочей'
                    div(class='info-item')
                        div(class='info-image')
                            img(src='images/icon-info-3.png' alt='some text')
                        div(class='info-title')
                            != 'Высококачественный сервис'
                        div(class='info-text')
                            != 'Профессиональные консультанты всегда на связи: они помогут выбрать лучшую из имеющихся моделей кухонного оборудования и решат любую возникшую проблему.'
                        != 'Cookman продуман до мелочей'
                    div(class='info-item')
                        div(class='info-image')
                            img(src='images/icon-info-4.png' alt='some text')
                        div(class='info-title')
                            != 'Быстрая доставка по Москве'
                        div(class='info-text')
                            != 'Грили Cookman, древесный уголь и расходные материалы всегда в наличии на складе. Доставка по Москве производится на следующий день после подтверждения заказа.'