div(id='interiors' class='interiors')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'Готовые решения: Cookman в интерьере'
        div(class='row')
            div(class='col-12')
                div(class='interiors-slider')
                    div(class='interiors-slide')
                        a(href='images/image-interiors-full-1.jpg' data-fancybox='interiors' data-caption='Ресторан «Азия Гриль», (Барвиха)' class='interiors-image')
                            img(src='images/image-interiors-preview-1.jpg' alt='some-text')
                        div(class='interiors-name')
                            != 'Ресторан «Азия Гриль»'
                        div(class='interiors-data')
                            != '(Барвиха)'
                    div(class='interiors-slide')
                        a(href='images/image-interiors-full-2.jpg' data-fancybox='interiors' data-caption='Ресторан «Менга», (Москва)' class='interiors-image')
                            img(src='images/image-interiors-preview-2.jpg' alt='some-text')
                        div(class='interiors-name')
                            != 'Ресторан «Менга»'
                        div(class='interiors-data')
                            != '(Москва)'
                    div(class='interiors-slide')
                        a(href='images/image-interiors-full-3.jpg' data-fancybox='interiors' data-caption='«99 Favor Taste Restaurant», (Нью-Йорк)' class='interiors-image')
                            img(src='images/image-interiors-preview-3.jpg' alt='some-text')
                        div(class='interiors-name')
                            != '«99 Favor Taste Restaurant»'
                        div(class='interiors-data')
                            != '(Нью-Йорк)'
                    div(class='interiors-slide')
                        a(href='images/image-interiors-full-4.jpg' data-fancybox='interiors' data-caption='Домашняя кухня, (Москва, 2013 год)' class='interiors-image')
                            img(src='images/image-interiors-preview-4.jpg' alt='some-text')
                        div(class='interiors-name')
                            != 'Домашняя кухня'
                        div(class='interiors-data')
                            != '(Москва, 2013 год)'
                    div(class='interiors-slide')
                        a(href='images/image-interiors-full-3.jpg' data-fancybox='interiors' data-caption='И еще где-то, (Какая-то информация)' class='interiors-image')
                            img(src='images/image-interiors-preview-3.jpg' alt='some-text')
                        div(class='interiors-name')
                            != 'И еще где-то'
                        div(class='interiors-data')
                            != '(Какая-то информация)'