div(class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true")
                    != '&times;'
            div(class='modal-header')
                != 'Обратный звонок'
            form(class='form-callback')
                p
                    != 'Укажите номер мобильного телефона для связи:'
                label(class='custom-label')
                    input(type='tel' id='callback-tel' placeholder='+7 ( ___ ) ___ __ __')
                p
                    != 'Выберите время, удобное для звонка:'
                label(class='custom-label')
                    div(class='custom-dropdown')
                        div(class='custom-dropdown-value')
                            != 'С 10:00 до 12:00'
                        ul(class='custom-dropdown-menu')
                            li(class='active')
                                != 'С 10:00 до 12:00'
                            li
                                != 'С 12:00 до 14:00'
                            li
                                != 'С 14:00 до 16:00'
                            li
                                != 'С 16:00 до 18:00'
                        input(type='text' id='callback-time' value='С 10:00 до 12:00')
                button(type='submit' class='button button-yellow')
                    span(class='button-inner')
                        != 'Оставить заявку'