div(class='on-map')
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.8392481062897!2d37.411326216059635!3d55.74392200014416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ed8b6233c37%3A0x5c7d03f4f0a7bd88!2z0K_RgNGG0LXQstGB0LrQsNGPINGD0LsuLCAyNyDQutC-0YDQv9GD0YEgOSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyMTU1Mg!5e0!3m2!1sru!2sua!4v1531450332665" style="border:none;width:100%;height:100%;" allowfullscreen)