div(class='order')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'А как будет выглядеть ваш Cookman?'
                div(class='order-image')
                    img(src='images/image-order.png' alt='some text')
                form(class='form-order')
                    label(class='custom-label')
                        input(type='text' name='order-name-2' placeholder='— ваше имя —')
                    label(class='custom-label')
                        input(type='tel' name='order-phone-2' placeholder='— ваш телефон —')
                    button(type='submit' class='button button-yellow')
                        span(class='button-inner')
                            != 'Это мой гриль!'