div(class='top top-left')
    div(class='top-slider')
        div(class='top-slide')
            div(class='top-slider-image' style='background: url("images/background-slider-top-1.jpg") no-repeat center center;')
            div(class='container')
                div(class='row')
                    div(class='col-12')
                        div(class='top-slider-tagline')
                            != 'Встраиваемый инфракрасный <br>электрический гриль Cookman: <br>новый формат ужина <br>в ресторане и дома!'
        div(class='top-slide')
            div(class='top-slider-image' style='background: url("images/background-slider-top-2.jpg") no-repeat center center;')
            div(class='container')
                div(class='row')
                    div(class='col-12')
                        div(class='top-slider-tagline')
                            != 'Встраиваемый инфракрасный <br>электрический гриль Cookman!'
        div(class='top-slide')
            div(class='top-slider-image' style='background: url("images/background-slider-top-3.jpg") no-repeat center center;')
            div(class='container')
                div(class='row')
                    div(class='col-12')
                        div(class='top-slider-tagline')
                            != 'Встраиваемый инфракрасный <br>электрический гриль Cookman: <br>новый формат ужина!'
        div(class='top-slide')
            div(class='top-slider-image' style='background: url("images/background-slider-top-4.jpg") no-repeat center center;')
            div(class='container')
                div(class='row')
                    div(class='col-12')
                        div(class='top-slider-tagline')
                            != 'Встраиваемый инфракрасный <br>электрический гриль Cookman: <br>новый формат ужина <br>в ресторане и дома! <br>электрический гриль Cookman: <br>новый формат ужина <br>в ресторане и дома!'
    form(class='form-gift')
        div(class='form-gift-title')
            != 'Вступите в новую эру приготовления пищи'
        div(class='form-gift-subtitle')
            != 'вместе с электрическим грилем Cookman'
        div(class='form-gift-image')
            img(src='images/image-form-gift.png')
        p
            !='Сделайте заказ прямо сейчас <br>и получите запасной противень в подарок!'
        div(class='form-gift-offer')
            != 'всего за 47 740 Р'
        label(class='custom-label')
            input(type='text' name='gift-name' placeholder='— ваше имя —')
        label(class='custom-label')
            input(type='email' name='gift-email' placeholder='— ваш e-mail —')
        button(type='submit' class='button button-yellow')
            span(class='button-inner')
                != 'Получить предложение'