div(class='trivia' style='background: url(images/background-yellow.jpg) no-repeat center center; background-size: cover;')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'Cookman продуман до мелочей'
                ul(class='trivia-list')
                    li(class='trivia-item')
                        != 'Сделан из <strong>нержавеющей стали</strong>, а потому абсолютно надёжен'
                    li(class='trivia-item')
                        != 'Максимально устойчив к <strong>механическим воздействиям</strong>'
                    li(class='trivia-item')
                        != 'Варочная поверхность закрыта жаропрочным <strong>небьющимся стеклом</strong>'
                    li(class='trivia-item')
                        != 'Сохраняет <strong>рабочее пространство</strong> и время на приготовление пищи'