div(class='video' style='background: url(images/background-video.jpg) no-repeat center bottom; background-size: cover;')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'Видео о Cookman'
        div(class='row')
            div(class='col-12')
                div(class='video-slider')
                    div(class='video-slide')
                        a(href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' class='video-image' data-fancybox)
                            img(src='images/image-video-1.jpg' alt='some text')
                        div(class='video-text')
                            != 'Безвредная и чистая система. Сначала био-инфракрасные волны жарят мясо.'
                    div(class='video-slide')
                        a(href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' class='video-image' data-fancybox)
                            img(src='images/image-video-2.jpg' alt='some text')
                        div(class='video-text')
                            != 'Дубовый древесный уголь обладает свойством не только устранять неприятный запах от жарки мяса'
                    div(class='video-slide')
                        a(href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' class='video-image' data-fancybox)
                            img(src='images/image-video-2.jpg' alt='some text')
                        div(class='video-text')
                            != 'Еще одно, не очень длинное, описание видео'