div(id='ways' class='ways' style='background: url(images/background-ways.jpg) no-repeat center center; background-size: cover;')
    div(class='container')
        div(class='row')
            div(class='col-12')
                h2
                    != 'Cookman — первый в мире гриль, который готовит барбекю'
                div(class='title-marker')
                    div(class='title-marker-text')
                        != '3-мя способами'
                ul(class='ways-list')
                    li(class='ways-item')
                        div(class='ways-icon')
                            img(src='images/icon-ways-1.png' alt='some text')
                        div(class='ways-title text-red')
                            != 'ИК-лучи'
                        div(class='ways-subtitle')
                            != 'Продукты готовятся изнутри'
                        div(class='ways-text')
                            != 'Инфракрасные волны обжаривают пищу, а эффект синергии, создаваемый тепловым излучением древесного угля и экстрактом смолы, делает её потрясающе вкусной.'
                    li(class='ways-item')
                        div(class='ways-icon')
                            img(src='images/icon-ways-2.png' alt='some text')
                        div(class='ways-title text-red')
                            != 'С дымком'
                        div(class='ways-subtitle')
                            != 'Придаёт блюду запах копчения'
                        div(class='ways-text')
                            != 'Дубовый древесный уголь устраняет неприятный запах, а выделяемые при нагревании анионы очищают воздух, сохраняя его чистым в пределах ресторана.'
                    li(class='ways-item')
                        div(class='ways-icon')
                            img(src='images/icon-ways-3.png' alt='some text')
                        div(class='ways-title text-red')
                            != 'На углях'
                        div(class='ways-subtitle')
                            != 'Еда никогда не подгорает'
                        div(class='ways-text')
                            != 'Гриль равномерно распределяет жар, не давая продуктам пригорать. Этим он отличается от привычных газовых плит, на которых пища подвергается обработке выше 400°.'