doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        title
            block title
        meta(name="keywords" content="")
        meta(name="description" content="")
        link(rel="shortcut icon" type="image/png" href="images/favicon.ico")
        link(rel="stylesheet" href="css/custom-styles.css")

    body
        div(class='wrapper')
            include ../modules/header
            main
                block content
            include ../modules/footer
        include ../modules/modals
        script(src="js/jquery.min.js")
        script(src="js/scripts.min.js")

