/*********************************************
*********** fonts
**********************************************/

@font-face {
  font-family: "Foros Regular";
  src: url(../fonts/Foros-Regular.ttf) format('truetype'), url(../fonts/Foros-Regular.woff) format('woff');
}

@font-face {
  font-family: "Foros Medium";
  src: url(../fonts/Foros-Medium.ttf) format('truetype'), url(../fonts/Foros-Medium.woff) format('woff');
}

@font-face {
  font-family: "Foros Bold";
  src: url(../fonts/Foros-Bold.ttf) format('truetype'), url(../fonts/Foros-Bold.woff) format('woff');
}