/*********************************************
*********** general
**********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-regular;
}

*::-moz-focus-inner {
  border: 0;
}

a,
button {
  transition: .4s;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:active,
.slick-next:active,
.slick-prev:focus,
.slick-next:focus,
.slick-slide:hover,
.slick-slide:active,
.slick-slide:focus,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  opacity: 0;
  padding: 50px 0 0;
  position: relative;

  @include more-1230 {
    padding: 0;
  }

}

h2 {
  font-family: $font-bold;
  font-size: 26px;
  line-height: 1.25;
  text-align: center;
  color: $color-black;

  @include more-768 {
    font-size: 37px;
  }

}

strong {
  font-family: $font-medium;
}

.button {
  display: inline-block;
  vertical-align: middle;
  @include buttonSkew;
  position: relative;
  cursor: pointer;
  border-radius: $radius;

  &-inner {
    display: block;
    transform: skew(7deg);
    padding: 16px 23px;
    position: relative;
    font-family: $font-medium;
    font-size: 17px;
    line-height: 1;
  }

  &-decor {
    border: none;
    background: transparent;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 22px;
      border: 2px solid $color-red;
      border-radius: $radius $radius 0 0;
      border-bottom: none;
      transition: .2s;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 22px;
      border: 2px solid $color-black;
      border-radius: 0 0 $radius $radius;
      border-top: none;
      transition: .2s;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }

    .button-inner {

      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 27px;
        background: #f7f7f7 url(../images/decor-waves-black.png) no-repeat center center;
        transition: .2s;
        position: absolute;
        left: -4px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
      }

    }

    &:hover {

      &:before,
      &:after {
        height: 50%;
      }

      .button-inner {

        &:before {
          transform: translateX(15px);
          opacity: 0;
        }

      }

    }

  }

  &-yellow {
    background: url(../images/button-background-yellow.jpg) no-repeat center center;
    border: none;
    box-shadow: none;

    .button-inner {
      padding: 16px 40px 16px 23px;
      text-shadow: 1px 0 1px #fff;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 14px;
      background: url(../images/icon-angle-right-red.png) no-repeat 0 0;
      transform: skew(7deg);
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: .3s;
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-yellow;

      &:after {
        right: 15px;
      }

    }

  }

  &-red {
    background: url(../images/button-background-red.jpg) no-repeat center center;
    border: none;
    box-shadow: none;

    .button-inner {
      padding: 16px 40px 16px 23px;
      color: #fff;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 14px;
      background: url(../images/icon-angle-right-yellow.png) no-repeat 0 0;
      transform: skew(7deg);
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: .3s;
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-yellow;

      &:after {
        right: 15px;
      }

    }

  }

}

.text {

  &-red {
    color: $color-red;

    &:hover {
      color: $color-red;
    }

  }

}

.slick-arrow {
  width: 27px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 0;
  color: transparent;
  position: absolute;
  margin: auto;
  z-index: 1;
  transition: .3s;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

}

.slick-prev {
  left: 0;

  &:active {
    transform: translateX(-10px);
  }

}

.slick-next {
  right: 0;

  &:active {
    transform: translateX(10px);
  }

}

.title-marker {
  display: inline-block;
  transform: skew(-7deg) rotate(-3deg);
  background: $color-red;
  border-radius: $radius;

  &-text {
    display: block;
    padding: 5px 25px;
    font-family: $font-bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    transform: skew(7deg);

    @include more-768 {
      font-size: 30px;
    }

  }

}

.custom-list {
  list-style: none;

  li {
    padding: 10px 0 10px 50px;
    margin: 10px 0;
    position: relative;
    font-size: 17px;
    line-height: 1.2em;
    font-family: $font-medium;

    &:before {
      content: '';
      display: block;
      width: 37px;
      height: 37px;
      background: url(../images/icon-custom-list.png) no-repeat 0 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}

form {
  display: block;
  width: 100%;

  .custom-label {
    display: block;
    width: 100%;
    transform: skew(-7deg);
    border: 1px solid #b7bfc2;
    border-radius: $radius;
    background: #fff;
    position: relative;

    span[class*="form-control-wrap"] {
      display: block;
    }

    span[class*="not-valid-tip"] {
      display: block;
      transform: skew(7deg);
      position: absolute;
      left: 0;
      top: calc(100% + 3px);
    }

  }

  input,
  textarea {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    text-align: center;
    transform: skew(7deg);
    background: transparent;
    border: none;
    overflow: hidden;
  }

  textarea {
    resize: none;
  }

  [class*="validation-errors"],
  [class*="mail-sent-ok"] {
    display: none!important;
  }

}

input::-webkit-input-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

input::-moz-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

input:-moz-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

textarea::-moz-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

textarea:-moz-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  font-family: $font-regular;
  font-size: 17px;
  color: $color-black;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

@include more-1230 {
  .container {
    max-width: 1230px;
  }
}

.on-map {
  height: 250px;

  @include more-768 {
    height: 400px;
  }

  @include more-1230 {
    height: 700px;
  }

}

.custom-dropdown {
  display: block;
  text-align: left;
  transform: skew(7deg);
  padding: 0 30px 0 15px;
  width: 100%;
  min-height: 48px;
  position: relative;
  cursor: pointer;

  input,
  label {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    width: 14px;
    height: 10px;
    background: url(../images/icon-angle-down-red.png) no-repeat 0 0;
    position: absolute;
    top: 20px;
    right: 15px;
    transition: .4s;
  }

  &-value {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 48px;
    padding: 0 0 0 15px;
  }

  &-menu {
    display: none;
    transform: skew(-7deg);
    list-style: none;
    margin: 0;

    li {
      transform: skew(7deg);
      padding: 5px 0;
      margin: 5px 0;
      border-bottom: 1px solid #b7bfc2;
      transition: .3s;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: $color-red;
      }

      &.active {
        font-family: $font-medium;
        color: $color-red;
      }

    }

  }

  &.active {

    &:after {
      transform: rotate(-180deg);
    }

    .custom-dropdown-menu {
      display: block;
    }

  }

}

body.modal-open {
  padding: 0!important;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 1);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 1);
}