///////////////////////////////////////////////
///////////// mixins
///////////////////////////////////////////////

@mixin counter {
  counter-reset: list;
  list-style: none;

  li:before {
    counter-increment: list;
    content: counter(list)'';
  }

}

@mixin buttonSkew {
  transform: skew(-7deg);

  .button-inner {
    transform: skew(7deg);
  }

}


@mixin more-400 {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin more-576 {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin more-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin more-992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin more-1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin more-1230 {
  @media (min-width: 1230px) {
    @content;
  }
}