///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$font-regular: "Foros Regular", sans-serif;
$font-medium: "Foros Medium", sans-serif;
$font-bold: "Foros Bold", sans-serif;

$color-red: #c62d27;
$color-black: #000;
$color-yellow: #f2b20c;
$color-grey: #767879;
$color-light: #f7f7f7;

$radius: 6px;